.container
  margin:0 15px
  .header
    display:flex
    margin-top:15px
    font-size:16px
    color:#666666
    .close
      position:fixed
      top:20px
      left:15px
      width:16px
      height:16px
      background: url(../../common/images/icon.png) -30px -34px
      background-size:375px 667px
    .login, .add
      flex:1
      a
        display:inline-block
        padding:0 10px 10px
        color:#333333
        &.active
          border-bottom:1px solid #333333
          font-weight:bold
    .login
      text-align:right
      margin-right:36px
    .add
      margin-left:36px
  .logo
    height:145px
    text-align:center
    span
      display:inline-block
      width:76px
      height:67px
      margin-top:39px
      background: url(../../common/images/icon.png) -30px -103px
      background-size:375px 667px
  .form
    .phone, .vc, .pwd
      position:relative
      padding:0 10px 10px
      border-b1px(#999999)
      .phone-icon, .vc-icon, .pwd-icon
        display:inline-block
        width:20px
        height:24px
        vertical-align:middle
      input
        padding-left:5px
        outline:none
        color:#999999
        font-size:15px
    .phone
      margin-bottom:30px
      .phone-icon
        background: url(../../common/images/icon.png) -165px -24px
        background-size:375px 667px
    .vc
      margin-bottom:30px
      .vc-icon
        background: url(../../common/images/icon.png) -31px -65px
        background-size:375px 667px
      .obtain
        display:inline-block
        position:absolute
        bottom:12px
        right:0
        padding:5px 15px
        border:1px solid #ff7f00
        border-radius:20px
        text-align:center
        font-size:14px
        color:#999999
    .pwd
      .pwd-icon
        background: url(../../common/images/icon.png) -219px -24px
        background-size:375px 667px
      .eye-icon
        display:inline-block
        position:absolute
        bottom:12px
        right:0
        width:22px
        height:14px
        background: url(../../common/images/icon.png) -278px -34px
        background-size:375px 667px
        vertical-align:bottom
        &:hover
          background: url(../../common/images/icon.png) -318px -34px
          background-size:375px 667px
    .agree
    	margin-top:9px
    	height:17px
    	line-height:17px
    	margin-left:10px
    	.agree-icon
    		display:inline-block
    		width:17px
    		height:17px
    		background: url(../../common/images/icon.png) -76px -69px
    		background-size:375px 667px
    		vertical-align:top
    	.agree-text
    		display:inline-block
    		font-size:12px
    		color:#999999
    		a
    			color:#ff7f00
    .add
      margin-top:53px
      padding:9px 0
      height:27px
      line-height:27px
      margin-bottom:15px
      border:1px solid #ff7f00
      border-radius:5px
      text-align:center
      &:active
      	background:rgba(255,127,0,0.4)
      input
        color:#ff7f00
        background:transparent
        outline:none
        font-size:16px
    .inviter-phone
    	padding:9px
    	background:#f1f1f1
    	border-radius:5px
    	.inviter-phone-icon
    		display:inline-block
    		width:13px
    		height:20px
    		background: url(../../common/images/icon.png) -152px -67px
    		background-size:375px 667px
    		vertical-align:top
    	input
    		padding:0 5px
    		color:#999999
    		background:#f1f1f1
    		outline:none
    		font-size:12px