.container
  margin:0 15px
  .form
  	.oldpwd, .newpwd
  		display:block
  		padding:16px
  		margin-top:14px
  		border:1px solid #999999
  		border-radius:5px
  		input
  			outline:none
  			font-size:14px
  			color:#999999
  	.newpwd
  		position:relative
  		.eye-icon
	        display:inline-block
	        position:absolute
	        top:18px
	        right:16px
	        width:22px
	        height:14px
	        background: url(../../common/images/icon.png) -278px -34px
        	background-size:375px 667px
	        vertical-align:bottom
	        &:hover
	          background: url(../../common/images/icon.png) -318px -34px
	          background-size:375px 667px
	.limit
		padding:7px 16px
		font-size:12px
		color:#999999
	.confirm
      margin-top:25px
      padding:9px 0
      height:27px
      line-height:27px
      border:1px solid #ff7f00
      border-radius:5px
      text-align:center
      &:active
        background:rgba(255,127,0,0.4)
      input
        color:#ff7f00
        background:transparent
        outline:none
        font-size:16px
    .forget
    	padding:7px 0
    	float:right
    	font-size:12px
    	color:#666666