.container
	.header
		background:-webkit-linear-gradient(left bottom, #ff7f00, #ffb400); 
		text-align:center
		.title
			height:75px
			line-height:60px
			color:#333
			font-size:16px
		.limit
			height:45px
			margin-top:-15px
			padding-bottom:10px
			color:#fff
			font-size:12px
	.content-wrapper
		background:f8f8f8
		.content
			margin:-15px 15px 0
			background:#fff
			border-radius:5px
			padding:0 15px
			.content-title
				position:relative
				height:40px
				line-height:40px
				padding:0 15px
				font-size:14px
				color:#333
				border-b1px(#ddd)
				.accounts-title
					float:left
					font-weight:bold
				.logindate-title
					float:right
					font-weight:bold
			.item
				position:relative
				height:70px
				padding:10px 20px 10px 0
				border-b1px(#ddd)
				.accounts
					float:left
					margin-top:12px
					.avatar
						display:inline-block
						border-radius:45px
						width:45px
						height:45px
						vertical-align:top
					.userinfo
						display:inline-block
						margin-left:5px
						.username
							margin-top:8px
							a
								color:#333
								font-size:14px
						.number
							font-size:12px
							margin-top:5px
							color:#999
							span
								color:#ff7f00
						.username1
							line-height:45px
							color:#333
							font-size:14px
				.logindate
					float:right
					line-height:70px
					font-size:14px
					color:#999
				.arrow
					position:absolute
					top:36px
					right:-8px
					width:18px
					height:18px
					background:url(../../common/images/icon.png) -68px -32px
					background-size:375px 667px
			.item:last-child
				border-b1px(transparent)