.container
	.user
		margin:10px 0 -15px
		height:45px
		line-height:45px
		color:#333
		font-size:16px
	.form-control
		position:relative
		.get
			border-l1px(#000)
			margin:0 15px
			float:right
			color:#ff7f00
			font-size:14px
		.eye-icon
			position:absolute
			display:inline-block
			top:18px
			right:16px
			width:22px
			height:14px
			background: url(../../common/images/icon.png) -278px -34px
			background-size:375px 667px
			vertical-align:bottom
			&:hover
				background: url(../../common/images/icon.png) -318px -34px
				background-size:375px 667px      
		.border-l1px:after
			top:5px
			left:-15px
			height:35px

	        

	        	
	        
	        	

	          
	          
	        

		
		