.container
  width:100%
  height:100%
  position:fixed
  top:0
  background:#f1f1f1
  .myinfo-wrapper
  	margin:15px 15px 0
  	background:#fff
  	border-radius:5px
  	.item:first-child
  		height:65px
  		line-height:65px
  		.item-right
  			width:45px
  			height:45px
  			line-height:65px
  			margin-top:10px
  			border-radius:45px
  			background:#ddd
  		.arrow
  			top:25px
  	.item
  		position:relative
  		margin:0 10px
  		height:45px
  		line-height:45px
  		font-size:14px
  		border-b1px(#ddd)
  		.item-left
  			float:left
  			color:#333333
  		.item-right
  			float:right
  			margin-right:20px
  			color:#999999
  		.arrow
  			position:absolute
  			display:inline-block
  			top:14px
  			right:0px
  			width:18px
  			height:18px
  			background:url(../../common/images/icon.png) -68px -32px
  			background-size:375px 667px		
  	.item:last-child
  		border-b1px(transparent)
  .option-wrapper
  	position:fixed
  	top:0
  	left:0
  	width:100%
  	height:100%
  	z-index:1
  	background:rgba(0, 0, 0, 0.1)
	.option
	  	position:fixed
	  	bottom:0
	  	left:0
	  	width:100%
	  	height:auto
	  	.option-center
	  		margin:0 15px 15px
	  		.photograph, .album, .cancel
		  		background:#fff
		  		height:45px
		  		line-height:45px
		  		text-align:center
		  	.photograph
		  		position:relative
		  		border-b1px(#ddd)
		  		border-radius:10px 10px 0 0
		  	.album
		  		border-radius:0 0 10px 10px
		  	.cancel
		  		margin-top:15px
		  		border-radius:10px